* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('http://orig03.deviantart.net/ecd5/f/2007/324/e/d/scary_dungeon_by_craig_stiff.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  /*background-color: black;*/
  margin-top: -40px;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.display {
  display: flex;
  justify-content: space-around;
}

.img-margin {
  margin: 20px;
}

img {
  height: 400px;
  width: 400px;
  /*border-radius: 25%;*/
}

.vertalign {
  margin-top: 200px;
}

.top-pad {
  margin-top: 30px;
}

.red-box {
  box-shadow: 0 0 100px 0 #f44336;
}

.green-box {
  box-shadow: 0 0 100px 0 #4caf50;
}

.white-box {
  box-shadow: 0 0 100px 0 #fff;
}

.versus {
  font-family: 'Satisfy', cursive;
}

span {
  font-family: 'Autowide';
}
h4 {
  font-family: 'Autowide';
}

@font-face {
  font-family: 'Deathrattle';
  src: url(deathrattlebb_reg.ttf);
}

.deathFont {
  font-family: 'Deathrattle';
  font-size: 100px;
}

.img-placeholder {
  color: #B4B4B4;
}

.play-again {
  margin-top: 1%;
}

#attack {
  transition: none;
}

#music-player {
  display: none;
}
