* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.display {
  display: flex;
  justify-content: space-around;
}

.img-margin {
  margin: 20px;
}

img {
  height: 400px;
  width: 400px;
  border-radius: 50%;
}

.vertalign {
  padding-top: 15%;
}
