* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.display {
  display: flex;
  justify-content: space-around;
}

.img-margin {
  margin: 20px;
}

img {
  height: 400px;
  width: 400px;
  border-radius: 50%;
}

.vertalign {
  margin-top: 200px;
}

.red-box {
  box-shadow: 0 0 5px 0 #f44336, 0 0 50px 0 #f44336;
}

.green-box {
  box-shadow: 0 0 5px 0 #4caf50, 0 0 50px 0 #4caf50;
}
